# : comments

# no .a files
# *.a

# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
# /TODO

# ignore all files in the build/ directory
# build/
Node-1/data/caches/
Node-1/data/database/
Node-2/data/caches/
Node-2/data/database/
Node-3/data/caches/
Node-3/data/database/
Node-4/data/caches/
Node-4/data/database/

besu_wallet_practice/node_modules/
# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory
# doc/**/*.pdf